body,
html,
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 10;
}
h1{
text-align: center;
font-size: 5rem;
font-family: 'Montserrat', sans-serif;
margin-bottom: 30;
}
.card{
    height:35vh;
    width: 20vw;
background-color:rgb(248, 222, 216);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 10px;
margin-bottom:  40px;
box-shadow: 7px 3px #d6a0a3;
}
.card-image{
    width: 60%;
}

.card-title{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    margin-top: 2rem;
}
.card-desc{
    font-size: 2rem;
    font-family: 'Hind Madurai', sans-serif;
}
.container{
display: flex;
width: 73vw;
flex-wrap: wrap;
justify-content: space-around;
margin: 5rem auto;
padding: 20px;
flex-direction: row;
}
@media (max-width: 850px) {
    .flex-container {
      flex-wrap: wrap;
    }
    .flex-item-text {
      width: 100%;
    }
    .div1,
    .div2 {
      /* Adjust the width of div1 and div2 on smaller screens */
      width: 100%;
    }
  }
