body,
html,
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 10;
}
h1{
text-align: center;
font-size: 20rem;
font-family: 'Montserrat', sans-serif;
margin-bottom: 30;
}
.card{
    height:35vh;
    width: 20vw;
background-color:brown;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 10px;
margin-bottom:  10px;
}
.card-image{
    width: 80%;
}

.card-title{
    font-size: 5rem;
    margin:0.5rem;
    text-transform: uppercase;
    font-family: 'Lora', serif;
}
.card-desc{
    font-size: 5rem;
    font-family: 'Hind Madurai', sans-serif;
}
.container{
display: flex;
width: 73vw;
flex-wrap: wrap;
justify-content: space-around;
margin: 5rem auto;
padding: 20px;
flex-direction: row;
}
