body,
html,
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card{
    height:30vh;
    width: 20vw;
background-color:rgb(134, 98, 98);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 10px;
margin: 10px;
}
.card-image{
    width: 80%;
}

.card-title{
    font-size: 2.2rem;
    margin:0.5rem;
    text-transform: uppercase;
}
.card-price{
    font-size: 1.2rem;
}
.container{
display: flex;
width: 73vw;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
margin: 1rem auto;
padding: 20px;

}
