body,
html,
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 10;
}
h1{
text-align: center;
font-size: 5rem;
font-family: 'Montserrat', sans-serif;
margin-bottom: 30;
color: rgb(240, 248, 255);

}
.card{
    height:38vh;
    width: 20vw;
background-color:rgb(120, 60, 117);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 10px;
margin-bottom: 40px;
box-shadow: 7px 3px rgb(87, 24, 85);
transition-property: transform;
transition-duration: 0.3s;
transition-timing-function: ease;
transition-delay: 0s;
}
.card-image{
    width: 60%;
    opacity: 0.7;
}

.card-title{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    margin-top: 2rem;
    color: rgb(240, 248, 255);
}
.card-desc{
    font-size: 3rem;
    font-family: 'Hind Madurai', sans-serif;

}
.container{
display: flex;
width: 90%;
flex-wrap: wrap;
justify-content: space-around;
margin: 5rem auto;
padding: 5px;
flex-direction: row;
}

a{
  color: rgb(240, 248, 255);
}

.card:hover{
  transform:translate(-20px)
}
a:hover{
  background-color: rgb(35, 56, 107);
  border-radius: 10px;
}
h1:hover{
  background-color: rgb(30, 70, 35);
  border-radius: 10px;
}
.card-title:hover{
  transform: scale(1.1);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.card-image:hover{
  opacity: 1;
  transition: 0.3s;
}