body,
html,
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 10;
}
h1{
text-align: center;
font-size: 5rem;
font-family: 'Montserrat', sans-serif;
margin-bottom: 30;
color: rgb(240, 248, 255);

}
.card{
    height:38vh;
    width: 20vw;
background-color:rgb(120, 60, 117);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border-radius: 10px;
margin-bottom:  40px;
box-shadow: 7px 3px rgb(87, 24, 85);
transition-property: transform;
transition-duration: 0.3s;
transition-timing-function: ease;
transition-delay: 0s;
}
.card-image{
    width: 60%;
}

.card-title{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    margin-top: 2rem;
    color: rgb(240, 248, 255);
}
.card-desc{
    font-size: 3rem;
    font-family: 'Hind Madurai', sans-serif;

}
.container{
display: flex;
width: 90%;
flex-wrap: wrap;
justify-content: space-around;
margin: 5rem auto;
padding: 20px;
flex-direction: row;
}
.card:hover{
  transform:translate(-20px)
}
@media (max-width: 850px) {
    .flex-container {
      flex-wrap: wrap;
    }
    .flex-item-text {
      width: 100%;
    }
    .div1,
    .div2 {
      /* Adjust the width of div1 and div2 on smaller screens */
      width: 100%;
    }
  }
a{
  color: rgb(240, 248, 255);
}
